body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #0D0F0D;
  color: #EDEDED;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  width: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.App-header h1 {
  font-size: 2.5em;
  position: absolute;
  top: 8%;
}

.speed-test-button {
  background-color: #1A2E1A;
  border: none;
  width: 140px;
  height: 140px;
  font-size: 1.7em;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  animation: heartbeat 1.5s infinite;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 0 auto;
  top: 32%;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  color: #A3B18A;
}

.speed-test-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.speed-test-button:hover:not(:disabled) {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.speed-test-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 200%;
  background: rgba(163, 177, 138, 0.6);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  70% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.speedometer-container {
  margin: 0px 0;
  position: absolute;
  top: 30%;
}

.transition-message {
  color: #52734D;
  font-size: 1.4em;
  top:38%;
  position: absolute;
}

.speed-test-results{
  top: 67%;
  position: absolute;
}
.welcome-message{
  font-size: 1.25em;
  top:64%;
  position:absolute;
}

.speed-test-results p {
  margin: 5px 0;
  font-size: 1.1em;
}
.speed-test-results .label {
  color: #52734D;
}


@media (max-width: 575.98px) {
  .App-header {
    height: 88vh;
    width: 70vw;
    box-shadow: none;
  }

  .App-header h1 {
    font-size: 1.8em;
  }

  .speed-test-button {
    width: 155px;
    height: 155px;
    font-size: 1.55em;
    top: 28%;
  }

  .speedometer-container {
    top: 26%;
  }

  .transition-message {
    font-size: 1.3em;
    top: 35%;
  }

  .speed-test-results {
    top: 58%;
    
  }
  .speed-test-results p {
    font-size: 1em;
    margin:13px;
  }

  .welcome-message {
    font-size: 1.05em;
    top: 64%;
  }
}








