* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
body {
  background-color: #f4f4f9;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* App Container */
.App {
  text-align: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.speed-test-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.speed-test-button:hover {
  background-color: #0056b3;
}

.circular-button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speedometer-container {
  margin: 40px 0;
}

.transition-message {
  margin: 20px 0;
  font-size: 1.2em;
  color: #ff9900;
}

.speed-test-results {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.speed-test-results p {
  margin: 10px 0;
  font-size: 1.1em;
}

.speed-test-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .App-header {
    padding: 15px;
  }

  .App-header h1 {
    font-size: 2em;
  }

  .speed-test-button {
    padding: 10px 20px;
    font-size: 1em;
  }

  .speed-test-results {
    padding: 15px;
  }

  .speed-test-results p {
    font-size: 1em;
  }
}


@media (max-width: 600px) {
  .speed-test-button {
    padding: 12px 24px;
    font-size: 16px;
  }

  .speed-test-results p {
    font-size: 16px;
  }

  .speed-test-list li {
    font-size: 14px;
  }
}

